@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './font-awesome.min.css';

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
/* Regarding the SRC url() path, read the pointers.md file (item #5) */
/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('../base/fonts/SamsungSharpSans-Medium.woff2') format('woff2'),
        url('../base/fonts/SamsungSharpSans-Medium.woff') format('woff'),
        url('../base/fonts/SamsungSharpSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('../base/fonts/SamsungSharpSans-Bold.woff2') format('woff2'),
        url('../base/fonts/SamsungSharpSans-Bold.woff') format('woff'),
        url('../base/fonts/SamsungSharpSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('../base/fonts/SamsungSharpSans.woff2') format('woff2'),
        url('../base/fonts/SamsungSharpSans.woff') format('woff'),
        url('../base/fonts/SamsungSharpSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}